/* global */
html{
    font-size: 16px;    
}
body{
    height: 100%;
    font-style: normal;
    background: linear-gradient(76deg,rgba(99, 55, 36, 1) 0%, rgba(38, 19, 13, 1) 100%);
}


h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
    margin-top: 0.5rem;
    cursor: pointer;
    user-select: none;
}

h4{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

a{
    color: #fff;
}


/* utilidades */
.flex{
    padding: 0.5rem;
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 2rem;
    font-size: 1rem;
}


/* logo */
.logo{
    width: 2.5rem;
}

/* cabecera */
#nav{
    color: #fff;
    background-color: #26130D ;
    font-family: "Edu NSW ACT Hand Pre", cursive;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
}

/* presentacion */
.presentacion {
    text-align: center;
    display:block;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    height: 90%;
    color: #D2D7D9; 

}
/* texto presentacion */
.texto_presentacion{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    padding-top: 1rem;
    margin: auto;
    width: 50%;
}

/* imagen perfil */
.imagen_perfil{
    margin: auto;
    margin-top: 1rem;
    align-self: center;
    border-radius:50%;
    width:20%;
}

/* seccion conocimientos */
.sectionConocimientos{
    margin: auto;
    width: 95%;
    color: #fff;
    text-align: center;
    background: #26130D ;
}

#conocimientos{
    padding-top: 2rem;
}

#divConocimientos {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding:40px;
    transition: opacity 2s ease;
    opacity: 1;
    flex-wrap: wrap;
}

#divConocimientos.oculto {
    opacity: 0;
    pointer-events: none;
}

/* Estilo de cada columna (Frontend, Backend, Others) */
.grupo-skills {
    flex: 1 1 30%; /* cada uno ocupa 1/3, se adapta si no hay espacio */
    padding: 15px;
    border: #fff 1px solid;
}

/* Contenedor de los íconos */
.grupo-skills > div {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

/* Cada skill individual */
.icono {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    text-align: center;
}

.icono img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.skill {
    font-family: "Edu NSW ACT Hand Pre", cursive;
    margin-top: 6px;
    font-size: 13px;
}

.nivel {
    font-family: "Edu NSW ACT Hand Pre", cursive;
    margin-top: 6px;
    font-size: 13px;
}

.estrellas {
    margin-top: 4px;
    color: gold;
    font-size: 14px;
}

/* Seccion footer */
footer{
    padding: 2rem 0;
    width: 40%;
    margin: auto;
    text-align: center;
    color: #fff;
}

.links_contactos{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    margin: 2rem 0;
}

.subsection_links_contactos a img{
    width: 40px;
    display: flexbox;
}



/* Responsive para móviles */
@media (max-width: 600px) {

    h1{
        display: none;
    }

    #nav{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%; /* muy importante para que abarque todo el ancho */
        z-index: 1000;
    }

    .presentacion{
        padding-top: 5rem;
    }
    #divConocimientos {
        flex-direction: column;

    }

    .imagen_perfil{
        margin: auto;
        margin-top: 1rem;
        align-self: center;
        border-radius:50%;
        width:60%;
    }

    .texto_presentacion{
        width: 80%;
    }

    .texto_presentacion2{
        display: none;
    }

    .grupo-skills {
        flex: 1 1 100%;
    }

    .links_contactos{
        padding-top: 1rem;
        text-align: center;
        display: block;
        align-items: center;
        justify-content: space-between;
        align-content: center;
    }

    .subsection_links_contactos p{
        padding-bottom: 1rem;
    }

}